*{

box-sizing:border-box;

font-family:tahoma;

}



body{

margin:0;

background:

radial-gradient(circle,#18351c,#050505 70%);

color:white;

text-align:center;

}




.game-page{

max-width:500px;

margin:auto;

padding:20px;

}





header{

display:flex;

justify-content:space-between;

align-items:center;

}



header h1{

color:#ffd700;

}



.money{

background:#111;

padding:12px 20px;

border-radius:20px;

color:#ffd700;

}





.panel{

background:#111;

border-radius:25px;

padding:25px;

margin-top:20px;

}





input{


width:90%;

padding:15px;

border-radius:15px;

border:0;

background:#222;

color:white;

text-align:center;

font-size:18px;


}




button{


margin-top:15px;

width:90%;

padding:16px;


border:0;

border-radius:20px;


background:

linear-gradient(135deg,#ffd700,#9c7000);


font-weight:bold;

font-size:17px;


}





.cards{


display:grid;


grid-template-columns:repeat(3,100px);


justify-content:center;


gap:20px;


margin-top:40px;


}




.card{


width:100px;

height:150px;

perspective:1000px;


cursor:pointer;


}



.card-inner{


position:relative;

width:100%;

height:100%;


transition:.8s;


transform-style:preserve-3d;


}




.card.open .card-inner{


transform:rotateY(180deg);


}




.front,
.back{


position:absolute;


width:100%;

height:100%;


backface-visibility:hidden;


border-radius:20px;


display:flex;


align-items:center;


justify-content:center;


font-size:30px;


}




.front{


background:

linear-gradient(145deg,#111,#000);


border:2px solid #ffd700;


color:#ffd700;


}




.back{


transform:rotateY(180deg);


background:#ffd700;


color:#000;


font-weight:bold;


}




.result{


margin-top:30px;


background:#111;


padding:20px;


border-radius:20px;


font-size:20px;


}
