.card-game{

background:
radial-gradient(circle,#17351c,#050505);

min-height:500px;

padding:25px;

border-radius:30px;

}



.cards-container{

display:grid;

grid-template-columns:repeat(3,110px);

gap:25px;

justify-content:center;

margin-top:50px;

}



.card{


width:110px;

height:160px;

perspective:1000px;

cursor:pointer;

}



.card-inner{

width:100%;

height:100%;

transition:transform .8s;

transform-style:preserve-3d;

}



.card.open .card-inner{

transform:rotateY(180deg);

}



.card-front,
.card-back{


position:absolute;

width:100%;

height:100%;

backface-visibility:hidden;

border-radius:20px;

display:flex;

align-items:center;

justify-content:center;

font-size:35px;

}




.card-front{

background:

linear-gradient(
145deg,
#111,
#000
);

border:2px solid #d4af37;


color:#d4af37;

}



.card-back{

transform:rotateY(180deg);


background:

linear-gradient(
145deg,
#ffd700,
#8b6500
);


color:#000;

font-size:25px;

font-weight:bold;

}




.card:hover{

transform:translateY(-10px);

}




.result-box{


margin-top:35px;

background:#111;

padding:20px;

border-radius:20px;

font-size:20px;

}
