*{
box-sizing:border-box;
font-family:tahoma;
}



body{

margin:0;

background:
radial-gradient(circle,#19331b,#050505);

color:white;

text-align:center;

}



.card-app{

max-width:520px;

margin:auto;

padding:20px;

}



header{

display:flex;

justify-content:space-between;

align-items:center;

}



header h1{

color:#ffd700;

}



.money{

background:#111;

padding:15px 20px;

border-radius:20px;

color:#ffd700;

}




.setup{

margin-top:25px;

background:#111;

padding:25px;

border-radius:30px;

}



input{

width:90%;

padding:15px;

border-radius:20px;

border:0;

background:#222;

color:white;

text-align:center;

font-size:18px;

}



button{

padding:14px;

border:0;

border-radius:18px;

margin:8px;

background:

linear-gradient(135deg,#ffd700,#956b00);

font-weight:bold;

}




.start{

width:90%;

}




#cards{


display:grid;

grid-template-columns:repeat(3,105px);

gap:20px;

justify-content:center;

margin-top:40px;

}




.card{

height:160px;

perspective:1000px;

cursor:pointer;

}



.inner{

width:100%;

height:100%;

transition:.8s;

transform-style:preserve-3d;

}



.card.open .inner{

transform:rotateY(180deg);

}



.front,
.back{


position:absolute;

width:105px;

height:160px;

border-radius:22px;

display:flex;

align-items:center;

justify-content:center;

font-size:35px;

backface-visibility:hidden;

}



.front{

background:

linear-gradient(145deg,#151515,#000);

border:2px solid #ffd700;

color:#ffd700;

box-shadow:0 10px 30px #000;

}



.back{

transform:rotateY(180deg);

background:#ffd700;

color:#000;

font-weight:bold;

}




.result{

margin-top:35px;

background:#111;

padding:25px;

border-radius:25px;

font-size:20px;

}
