*{
    box-sizing:border-box;
    font-family:tahoma;
}

body{
    margin:0;
    background:
    radial-gradient(circle at top,#242424,#050505 70%);
    color:white;
    min-height:100vh;
}


.app{
    max-width:500px;
    margin:auto;
    padding-bottom:80px;
}



header{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px;

    background:#111;

    border-bottom:1px solid #333;

}



.user-box{

    display:flex;
    align-items:center;
    gap:12px;

}



.avatar{

    width:55px;
    height:55px;

    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    background:
    linear-gradient(135deg,#ffd700,#8a6200);

    color:#000;

    font-size:25px;
    font-weight:bold;

}



.user-box h3{

    margin:0;

}



.user-box span{

    color:#aaa;

}




.balance{

    background:#191919;

    padding:12px 18px;

    border-radius:20px;

    color:#ffd700;

    font-size:20px;

}





.stats{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:10px;

    padding:20px;

}



.stat{

    background:#111;

    border-radius:20px;

    padding:15px;

    border:1px solid #292929;

}



.stat p{

    color:#aaa;

    font-size:13px;

}


.stat b{

    color:#ffd700;

    font-size:22px;

}




.title{

    padding:0 20px;

}




.games{

    display:grid;

    gap:20px;

    padding:20px;

}



.game{

    text-decoration:none;

    color:white;

    background:

    linear-gradient(145deg,#171717,#090909);

    border:1px solid #333;

    border-radius:25px;

    padding:25px;

    transition:.3s;

    box-shadow:0 15px 30px #000;

}



.game:hover{

    transform:translateY(-8px);

    border-color:#ffd700;

}



.game div{

    font-size:45px;

}


.game h3{

    color:#ffd700;

}





.wallet{

    padding:20px;

}



.wallet-card{

    background:

    linear-gradient(145deg,#1b1b1b,#080808);

    border-radius:30px;

    padding:25px;

    border:1px solid #333;

}



.wallet-card h1{

    color:#ffd700;

}



button{

    width:100%;

    padding:15px;

    margin-top:10px;

    border:0;

    border-radius:18px;

    background:

    linear-gradient(135deg,#ffd700,#9b7000);

    font-size:16px;

    font-weight:bold;

}





nav{

    position:fixed;

    bottom:0;

    left:0;

    right:0;

    max-width:500px;

    margin:auto;

    background:#111;

    display:flex;

    justify-content:space-around;

    padding:18px;

    border-top:1px solid #333;

}



nav a{

    color:#ffd700;

    text-decoration:none;

}
