*{

box-sizing:border-box;
font-family:tahoma;

}



body{

margin:0;

background:
radial-gradient(circle at top,#292929,#050505 70%);

color:white;

min-height:100vh;

}




.loader{

position:fixed;

inset:0;

background:#050505;

display:flex;

align-items:center;

justify-content:center;

z-index:10;

animation:hide 2s forwards;

}



.logo{

font-size:45px;

font-weight:bold;

color:#ffd700;

text-shadow:
0 0 20px #ffd700;

}




@keyframes hide{

to{

opacity:0;

visibility:hidden;

}

}





.app{

max-width:520px;

margin:auto;

padding-bottom:90px;

}





.top{

display:flex;

justify-content:space-between;

padding:20px;

}





.profile{

display:flex;

gap:15px;

align-items:center;

}




.avatar{

width:60px;

height:60px;

border-radius:50%;

background:
linear-gradient(135deg,#ffd700,#8c6500);

display:flex;

align-items:center;

justify-content:center;

font-size:30px;

color:#000;

}




.balance{

background:#111;

padding:15px 20px;

border-radius:25px;

color:#ffd700;

}





.xp-box{

margin:20px;

background:#111;

padding:20px;

border-radius:25px;

}




.xp-bar{

height:12px;

background:#222;

border-radius:20px;

overflow:hidden;

margin-top:15px;

}



#xpProgress{

height:100%;

width:65%;

background:#ffd700;

}




.stats{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:10px;

padding:20px;

}




.stats div{

background:#111;

padding:15px;

border-radius:20px;

text-align:center;

}



.stats b{

color:#ffd700;

font-size:25px;

}




.title{

padding:20px;

}





.games{

padding:20px;

display:grid;

gap:20px;

}




.game-card{

text-decoration:none;

color:white;

background:

linear-gradient(145deg,#181818,#080808);

padding:25px;

border-radius:30px;

border:1px solid #333;

transition:.3s;

}



.game-card:hover{

transform:translateY(-8px);

border-color:#ffd700;

}





.game-icon{

font-size:55px;

}




.history,.wallet{

margin:20px;

background:#111;

padding:20px;

border-radius:25px;

}





button{

width:100%;

padding:16px;

margin-top:10px;

border:0;

border-radius:20px;

background:
linear-gradient(135deg,#ffd700,#996d00);

font-weight:bold;

font-size:16px;

}





nav{

position:fixed;

bottom:0;

left:0;

right:0;

max-width:520px;

margin:auto;

background:#111;

display:flex;

justify-content:space-around;

padding:18px;

}



nav a{

color:#ffd700;

    }
