*{

box-sizing:border-box;
font-family:tahoma;

}



body{

margin:0;

background:

radial-gradient(circle,#252525,#050505);

color:white;

text-align:center;

}




.wheel-app{

max-width:520px;

margin:auto;

padding:20px;

}



header{

display:flex;

justify-content:space-between;

align-items:center;

}



h1{

color:#ffd700;

}



.money{

background:#111;

padding:15px 20px;

border-radius:20px;

color:#ffd700;

}




.wheel-area{

margin-top:30px;

}



.pointer{

font-size:45px;

color:#ffd700;

height:50px;

}



.wheel{


width:350px;

height:350px;

margin:auto;


border-radius:50%;


border:12px solid #d4af37;


position:relative;


overflow:hidden;


background:

conic-gradient(

#ffd700 0deg 36deg,

#171717 36deg 72deg,

#ffd700 72deg 108deg,

#171717 108deg 144deg,

#ffd700 144deg 180deg,

#171717 180deg 216deg,

#ffd700 216deg 252deg,

#171717 252deg 288deg,

#ffd700 288deg 324deg,

#171717 324deg 360deg

);



box-shadow:

0 0 40px #000;


transition:

transform 20s cubic-bezier(.12,.8,.15,1);


}





.item{


position:absolute;


width:50%;

height:50%;


left:25%;

top:0;


transform-origin:50% 100%;


display:flex;

justify-content:center;

align-items:center;


font-weight:bold;

font-size:18px;


}





.i1{transform:rotate(0deg)}
.i2{transform:rotate(36deg)}
.i3{transform:rotate(72deg)}
.i4{transform:rotate(108deg)}
.i5{transform:rotate(144deg)}
.i6{transform:rotate(180deg)}
.i7{transform:rotate(216deg)}
.i8{transform:rotate(252deg)}
.i9{transform:rotate(288deg)}
.i10{transform:rotate(324deg)}






button{

margin-top:35px;

width:90%;

padding:18px;

border:0;

border-radius:22px;


background:

linear-gradient(135deg,#ffd700,#946900);


font-size:18px;

font-weight:bold;

}




.result{


margin-top:35px;


background:#111;

border-radius:25px;

padding:25px;

font-size:22px;


}
